{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="nav">
    <a href="{% url 'statements' %}"><p>Admin</p></a>
    <a href="{% url 'admin:logout' %}"><img src="{% static 'img/exit.png' %}"></a>
</div>
<div class="neiw">
    <div class="st_block">
        {% for s in st_list %}
        <a href="{% url 'st_detail' s.pk %}">
             <div class="st_obj">
                 <h2>№ {{s.id}}</h2>
                 <h2>Name: {{s.name}}</h2>
                 <h2>User: {{s.user}}</h2>
                 <h3>Status: {{s.status}}</h3>
             </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}